
/* GENERAL */

body {
  padding-top: 54px;
  font-family: 'Muli', sans-serif !important;
  font-size: 0.95rem;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif !important;
  font-weight: 400;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.inline-block {
  display: inline-block;
}

/* NEWS ITEMS */

/* Don't apply primary color to title */
.text-inherit {
  color: inherit !important;
}

/* Remove paddings inherited from grid system */
#item-text, #item-img {
  padding-left: 0px;
  padding-right: 0px;
}

/* Apply pb-1 on small-medium devices */
@media (max-width: 767.98px) {
  #item-img {
    padding-bottom: 8px !important;
  }
}

/* Apply pl-2 on large-extra-lg devices */
@media (min-width: 768px) {
  #item-img {
    padding-left: 8px !important
  }
}

/* NAVBAR */

/* Fix bug when using navbar-expand */
@media (min-width: 576px) {
  nav > .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

/* FORMS */

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.btn-xs {
  padding: 0px !important;
  border: 0px !important;
  margin: 0px !important;
}

inline {
  display: inline-block !important;
}
