{% load i18n %}
{% load templatetags %}

<div class="media my-4">

  <!-- Votes card -->
  <div class="card text-center mr-3 img-thumbnail" style="width: 85px;">
    <div class="card-body p-2">

      <h2 id="link-{{object.id}}" class="card-title mb-0">{{object.votes.count|floatformat:"0"}}</h2>
      <p class="card-text mb-2">OMG</p>

      <form class="voting-form" method="post" action="{% url 'vote' pk=object.pk %}" novalidate>

        {% csrf_token %}
          {% if user.is_authenticated %}
            {% if object.pk in voted %}
              <button id="btn-{{object.id}}" type="submit" class="btn btn-{% color_btn %} btn-sm active">Hecho</button>
            {% else %}
              <button id="btn-{{object.id}}" type="submit" class="btn btn-{% color_btn %} btn-sm">OMG</button>
            {% endif %}
          {% else %}
          <button type="button" class="btn btn-{% color_btn %} btn-sm">
            <a href="{% url 'login' %}" class="text-inherit">OMG</a>
          </button>
          {% endif %}

      </form>

    </div>
  </div>

  <!-- Title, details, description, image, tags and comments -->
  <div class="media-body">

    <!-- Title -->
    <h5 class="mb-0">
      <a class="text-inherit" href="{{object.url}}" target="_blank">{{object.title}}
        <small><i class="far fa-external-link-alt"></i></small></a>
    </h5>

    <!-- Details -->
    <div><small>

      <div class="inline-block text-muted">
        <i class="far fa-user"></i>
        <a class="text-muted" href="{% url 'profile_sent' object.user %}">{{object.user}} ({{object.user.karma}})</a> ·
      </div>

      <div class="inline-block text-muted">
        <i class="fas fa-link"></i>
        <a class="text-muted" href="//{{object.url|domain}}">{{object.url|domain}}</a> ·
      </div>

      <div class="inline-block text-muted">
        <i class="far fa-calendar"></i>
        {{object.date|date:'j-b-y g:i a'}}
      </div>

      {% if object.user == user %}
      <div class="inline-block text-muted">
        · <i class="far fa-edit"></i>
        <a class="text-muted" href="{% url 'link_update' pk=object.pk %}">editar</a>
      </div>
      {% endif %}

    </small></div>

    <hr>

    <!-- Description, image, tags and comments -->
    <div class="container">
      <div class="row">

        <!-- Image -->
        <!--div id="item-img" class="col-md-3 order-md-2">
          <img class="img-fluid rounded" src="https://via.placeholder.com/800x480" alt="">
        </div-->

        <!-- Description, tags and comments -->
        <div id="item-text" class="col-md-12 order-md-1">

          <!-- Description -->
          <p class="mb-1">{{object.text}}</p>

          <!-- Comments -->
          <a href="{% url 'link_detail' pk=object.pk %}" class="badge badge-{% color_btn %}">
            <small><i class=" text-inverted fas fa-comments"></i></small>
            {{object.comments.count}} comentario{{object.comments.count|pluralize}}
          </a>

          <!-- Tags -->
          <small class="text-muted"> · <i class="fas fa-tags"></i></small>
          {% for tag in object.tags.all %}
            <a class="text-{% color_txt %}" href="{% url 'link_list' %}?tag={{tag.name}}">{{tag.name}}</a>,
          {% endfor %}
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.media-body -->

</div>
<!-- /.media -->

<hr>
