{% extends "links/main_w_sidebar.html" %}

{% load static %}

{% block head_title %}
	{% url 'link_update' pk=object.pk as update %}
	{% if request.path == update %}
		Editar historia
	{% else %}
		Enviar historia
	{% endif %}
{% endblock %}

{% block content %}
{% url 'link_update' pk=object.pk as update %}

<!-- Title -->
<h1 class="mt-4 mb-1">
	{% if request.path == update %}
		Editar historia
	{% else %}
		Enviar historia
	{% endif %}
</h1>

<!-- Subtitle -->
<p>Enlaza la fuente original del contenido que crees que debemos conocer</p>

<hr>

<!-- Recommendations -->
<p>Estas son ideas de sitios con noticias o contenido interesante que puedes enlazar:</p>

<ul>
  <li>Medios de noticias nacionales</li>
	<li>Medios alternativos con otras perspectivas de la realidad (ie. internacionales, independientes, etc.)</li>
  <li>Redes sociales (Twitter, Youtube, etc.) -solo asegúrate que el contenido no sea privado-</li>
	<li>Blogs u otros sitios personales con contenido aun por descubrir</li>
</ul>

<p>Evita enlazar el siguiente contenido:</p>

<ul>
  <li>Publicaciones tendenciosas o que muestren parcialidad</li>
	<li>Contenido publicitario o cualquier tipo de spam</li>
	<li>Publicaciones sensacionalistas o amarillistas</li>
	<li>Contenido ilegal, discriminatorio o para adultos</li>


</ul>

<!-- Link Form -->
<div class="card my-4">
  <h5 class="card-header">Detalles de tu historia:</h5>
  <div class="card-body">

    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'base/_form.html' with form=form %}
        <button type="submit" class="btn btn-primary float-left">Enviar</button>
    </form>

    {% if request.path == update %}
       <a class="btn btn-danger text-white float-right" href="javascript:void(0)"
       data-toggle="modal" data-target="#deleteModal" data-action="{% url 'link_delete' pk=object.pk %}">Eliminar</a>
    {% endif %}

  </div>
</div>

{% include "base/_delete_modal.html" %}
<script src="{% static "js/delete_modal.js" %}"></script>

{% endblock %}
