{% extends "base/main.html" %}

{% block body %}
{% load templatetags %}

<div class="row my-4">

  <!-- Content Column -->
  <div class="col-lg-8">

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible my-4" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>
  <!-- /.col-lg-8 -->

  <!-- Sidebar Widgets Column -->
  <div class="col-lg-4">

    <!-- Search Widget -->
    <!--div class="card my-4">
      <h5 class="card-header">Buscar</h5>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Buscar!</button>
          </span>
        </div>
      </div>
    </div-->

    <!-- Tags Widget -->
    <div class="card my-4">
      <h5 class="card-header">Etiquetas más populares</h5>
      <div class="card-body">
        {% load tagcloud %}
        {% tagcloud 30 %}
      </div>
    </div>

    <!-- Top Widget -->
    <div class="card my-4">
      <h5 class="card-header"><a class="text-inherit" href="{% url 'link_top' %}">Top de la semana</a></h5>
      {% load top %}
      {% top %}
    </div>

    <!-- Latest Widget -->
    <div class="card my-4">
      <h5 class="card-header"><a class="text-inherit" href="{% url 'link_latest' %}">Últimas enviadas</a></h5>
      {% load latest %}
      {% latest %}
    </div>

  </div>
  <!-- /.col-md-4 -->

</div>
<!-- /.row -->

{% endblock %}
