{% extends "links/main_w_sidebar.html" %}

{% block head_title %}¿Quiénes somos?{% endblock %}

{% block content %}

{% load staticfiles %}

<h1 class="my-4">¿Quiénes somos?</h2>

<p><strong>"Nuestros medios no cubren lo que realmente importa" - empezaba diciendo la descripción de la maliciosa -y muy divertida-  broma que se viralizó en las redes sociales.</strong></p>

<p>El supuesto joven prodigio, además de presentar sus investigaciones contra el cáncer en Inglaterra, también se graduó con honores de Harvard, ganó el Mundial de Matemáticas en Rusia y descubrió la cura para la gripe AH1N1; sus logros fueron reconocidos en toda Latinoamérica, desde México hasta Argentina, por miles de señoras, tíos y amigos que compartieron inocentemente la publicación sin saber su verdadero significado.</p>

<div class="my-4 text-center"><img src="{% static 'img/jordi.jpg' %}" class="img-fluid rounded"></div>

<p>En realidad, ahora todos sabemos que "Juan Carlos" -uno de sus nombres- no es un genio de la ciencia ni de la medicina, sino del mundo de la pornografía. Jordi es realmente un joven español de 23 años y el último boom de la industria de entretenimiento para adultos; actualmente trabaja para la productora Brazzers.
</p>

<p>Bromas aparte, la viralidad de Jordi encierra una terrible verdad: <strong>las noticias están rotas</strong>, cada año menos personas tienen confianza en los medios de comunicación; <a href="https://news.gallup.com/poll/195542/americans-trust-mass-media-sinks-new-low.aspx"> una encuesta</a> publicada anualmente por GALLUP en Estados Unidos, revela que <strong>la confianza de la población en las noticias se ha venido erosionando desde hace 20 años</strong> y tocó su punto más bajo en 2016, con solamente un 32% de los encuestados que respondieron que tienen "mucha o suficiente confianza en los medios." </p>

<div class="my-4 text-center"><img src="{% static 'img/gallup.png' %}" class="img-fluid"></div>

<p>En nuestra región no tenemos un estudio tan robusto, pero la observación nos dice que la tendencia no podría ser distinta: con frecuencia nos hemos enterado de <a href="https://elfaro.net/es/201012/noticias/3113/Las-dos-muertes-de-Karen-Yamileth-en-el-Selectos.htm">acontecimientos importantes</a> a los cuales los medios tradicionales no les han dado cobertura para no perjudicar las relaciones comerciales con sus anunciantes; o bien, noticias nada imparciales, que son fabricadas por el medio para satisfacer los intereses políticos de su dueño, no para informar.</p>

<p>Es en este contexto que surge OMAIGA, un agregador de noticias local y sin anunciantes directos, donde cualquiera puede compartir contenido interesante o de actualidad desde cualquier fuente; luego las noticias son votadas por la comunidad y ponderadas por un algoritmo que toma en cuenta el número de votos así como su antiguedad; el resultado es <strong>un medio de noticias democrático y que refleja el sentir de la comunidad</strong>, no de sus accionistas.</p>

<p class="text-right">Atentamente,<br>
El equipo de OMAIGA</p>

{% endblock %}
