{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="OMAIGA es un agregador social de noticias que te permite compartir contenido interesante o de actualidad desde cualquier fuente. El contenido de OMAIGA refleja el verdadero sentir de la comunidad, no de sus accionistas.">

    <meta name="keywords" content="el salvador, noticias, omaiga">

    <link rel=”canonical” href=”http://omaiga.com.sv/” />

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

    <title>{% block head_title %}{% endblock %} | OMAIGA</title>

    <!-- CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "css/custom.css" %}" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Google Analytics -->
    {% load templatetags %}
    {% is_production as is_production %}
    {% if is_production %}
      {% include "base/_analytics.html" %}
    {% endif %}

  </head>

  <body>

    {% include "base/_navbar.html" %}

    <div class="container">

    {% block body %}
    {% endblock %}

    </div>

    {% include "base/_footer.html" %}

    <!-- JavaScript -->
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "js/csrf_token.js" %}"></script>
    <script src="{% static "js/links.js" %}"></script>

  </body>

</html>
