{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block head_title %}{% endblock %} | OMAIGA</title>

    <!-- CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "css/custom.css" %}" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Google Analytics -->
    {% load templatetags %}
    {% debug as debug %}
    {% if not debug %}
      {% include "base/_analytics.html" %}
    {% endif %}

  </head>

  <body>

    {% include "base/_navbar.html" %}

    <div class="container">

    {% block body %}
    {% endblock %}

    </div>

    {% include "base/_footer.html" %}

    <!-- JavaScript -->
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "js/csrf_token.js" %}"></script>
    <script src="{% static "js/links.js" %}"></script>

  </body>

</html>
