{% extends "base/main.html" %}

{% block head_title %}Recuperar password{% endblock %}

{% block body %}

<div class="row my-4">

	<!-- Content Column -->
	<div class="col-lg-6 offset-lg-3">

		<h1 class="text-center my-4">Recuperar password</h2>

		<p class="my-4 text-center">
			Te hemos enviado un correo electrónico con instrucciones para que recuperes tu password. Recibirás el correo electrónico pronto. Si no recibes ningún correo electrónico, por favor, asegúrate que has ingresado la dirección correcta con la que estás registrado o <strong>revisa la carpeta de spam</strong>.
		</p>

	</div>
	<!-- /.col-lg-8 -->

</div>
<!-- /.row -->

{% endblock %}
