<html>

	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	</head>

	<body>
	  <div style="background-color:#fff;font-family:'Roboto',sans-serif;">
	    <center>
	      <table style="max-width:600px;text-align:center">
	        <tbody>

	          <tr>
	            <td style="padding:30px;border-bottom:1px solid #e9edee;">
	              <div style="font-size:3.5rem;">
									Omaiga
	              </div>
	            </td>
	          </tr>

	          <tr>
	            <td style="padding:30px;">
	              <p style="font-size:1.7rem;">Recuperar password</p>
	              <p style="font-size:1.2rem;">Haz clic en el siguiente enlace para restaurar tu password</p>

	              <p style="padding-top:15px;">
	                <a style="display:inline-block;text-decoration:none;padding:15px 30px;background-color:#4582EC;border-style:solid;border-width:0px 1px 4px 1px;border-color:#417bdf;border-radius:0.25rem;color:#FFF;font-weight:bold;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">
										Recuperar password
									</a>
	              </p>

	            </td>
	          </tr>

	          <tr>
	            <td style="padding:30px;border-top:1px solid #e9edee;;color:#9b9fa5">
	              Si tienes alguna pregunta puedes escribirnos a <a style="color:#666d74;text-decoration:none;" href="mailto:contacto@omaiga.com.sv" target="_blank">contacto@omaiga.com.sv</a>
	            </td>
	          </tr>

	        </tbody>
	      </table>
	    </center>
	  </div>
	</body>

</html>
