{% extends "base/main.html" %}

{% block head_title %}Recuperar password{% endblock %}

{% block body %}

<div class="row my-4">

	<!-- Content Column -->
	<div class="col-lg-6 offset-lg-3">

		<h1 class="text-center my-4">Recuperar password</h2>

		{% if validlink %}

		<p class="my-4 text-center">Configura un nuevo password para acceder a tu cuenta.</p>

		<form class="my-4" method="post" novalidate>
		  	{% csrf_token %}
		  	{% include 'base/_form.html' with form=form %}
			<button type="submit" class="btn btn-primary">Cambiar</button>
		</form>

		{% else %}

		<p class="my-4 text-center">El enlace es inválido o probablemente ya ha sido utilizado.</p>

		<p class="mb-4 text-center">Por favor <a href="{% url 'password_reset' %}">solicita un nuevo enlace</a> para recuperar tu password.</p>

		{% endif %}

	</div>
	<!-- /.col-lg-8 -->

</div>
<!-- /.row -->

{% endblock %}
