{% extends "registration/profile.html" %}

{% block head_title %}Perfil de usuario{% endblock %}

{% block profile %}

<table class="table table-hover text-truncate" style="table-layout:fixed;">
  <thead>
    <tr>
      <th scope="col">Titular</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td class="text-truncate">
        <a class="btn btn-primary btn-sm mr-2" href="{% url 'link_detail' object.pk %}" role="button">{{object.votes.count}}</a>
        <a class="text-inherit" href="{% url 'link_detail' object.pk %}">{{object.title}}</a>
      </td>
      <td class="text-truncate">
        <a class="text-inherit" href="{% url 'link_detail' object.pk %}">{{object.date}}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
