{% extends "links/main_w_sidebar.html" %}

{% block head_title %}Perfil de usuario{% endblock %}

{% block content %}

{% load templatetags %}

{% url 'profile_sent' username=profile_user as profile_sent %}
{% url 'profile_voted' username=profile_user as profile_voted %}
{% url 'profile_comments' username=profile_user as profile_comments %}

<div class="my-4 text-center">

  <img class="rounded-circle align-self-center" src="{{profile_user|gravatar:150}}">
  <h1 class="my-3">{{profile_user.username}}</h1>
  {% if request.user == profile_user %}
  <div>{{profile_user.email}} <a href="{% url 'email_change' %}">[cambiar]<a></div>
  <div>************ <a href="{% url 'password_change' %}">[cambiar password]<a></div>
  {% endif %}

</div>

<div class="my-4">
  <div class="row">

    <div class="col-4 text-center">
      <h2 class="mb-0">{{profile_user.karma}}</h2> karma
    </div>

    <div class="col-4 text-center">
      <h2 class="mb-0">{{profile_user.links.count}}</h2> enviadas
    </div>

    <div class="col-4 text-center">
      <h2 class="mb-0">{{profile_user.comments.count}}</h2> comentarios
    </div>

  </div>
</div>

<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link {% if request.path == profile_sent %} active {% endif %}" href="{% url 'profile_sent' profile_user.username %}">Enviadas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == profile_voted %} active {% endif %}" href="{% url 'profile_voted' profile_user.username %}">Votadas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == profile_comments %} active {% endif %}" href="{% url 'profile_comments' profile_user.username %}">Comentarios</a>
  </li>
</ul>

{% block profile %}

{% endblock %}

{% endblock %}
