{% extends "base/main.html" %}

{% block head_title %}Confirmación de cuenta{% endblock %}

{% block body %}

<div class="row my-4">

	<!-- Content Column -->
	<div class="col-lg-6 offset-lg-3">

		<h1 class="text-center my-4">Confirmación de cuenta</h2>

		<p class="my-4 text-center">
			Te hemos enviado un correo electrónico, por favor revisa tu bandeja de entrada y haz clic en el enlace para confirmar tu cuenta. Si no lo encuentras en tu bandeja de entrada <strong>asegúrate de chequear la carpeta de spam</strong>.
		</p>

		<p class="my-4 text-center">
			¿Aún no recibes el email de confirmación? <a href="mailto:contacto@omaiga.com.sv?Subject=Registro no completado&body=Hola, no he podido completar el registro para mi usuario: <nombre_de_usuario>" target="_top">Contáctanos.</a>
		</p>

	</div>
	<!-- /.col-lg-8 -->

</div>
<!-- /.row -->

{% endblock %}
